.modal {
  --bs-modal-width: 630px;
}

.modal-content {
  background-color: #0a0606;
  border: 1px solid #ff8700;
  color: #ff8700;
  padding-bottom: 5px;
}

.modal-header {
  background-color: #0a0606;
  border-bottom: 1px solid #ff8700;
  color: #ff8700;
}

.modal-header .row {
  width: 100%;
  margin: auto;
  text-align: center;
}

.modal-body {
  background-color: #0a0606;
  color: #ff8700;
}