@font-face {
  font-family: Proto Mono;
  src: url('./font/ProtoMono-Regular.ttf');
}

.App {
  text-align: center;
  background-color: #0a0606;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Proto Mono, Helvetica, Arial, sans-serif;
  color: #ff8700;
}

.btn {
  background-color: #0a0606 !important;
  color: #ff8700 !important;
  border: 1px solid #ff8700 !important;
}
